<% Columnlog::Column.all.each do |column| %>
  <div id="left" style="float:left;width:250px;padding:3px;margin:5px;">
    <h1><%= column.name.capitalize %></h1>
    <br/>
      <div id="files">
      	<% column.get.each do |post| %>
      	  <b><%= post.body %></b><br/>
      	  <i><%= post.posted_at %></i> - <a href="<%=post.url%>">url</a>
      	  <p/>
      	<% end %>
      </div>
  </div>	
<% end %>
<p style="clear:both;">