/******************************************************
 *	theme(quirkey).css									*
\*****************************************************/

body {
	margin: 0px;
	background: #2C3A41;
	font-family: Helvetica, Arial, sans-serif;	
	color: #FFF;
	font-size: 14px;
}
a:link, a:visited {
	color:#91AFB1;
	text-decoration:none;
}
a:hover {
	color:#ECE2E8;
}

#header {
	font-family: Georgia, Times, serif;	
	border-bottom: 10px solid #222833;
}
#header h1 {
	font-weight:normal;
	font-size: 50px;
	margin: -5px 0px 0px 10px;
	height: 45px;
}
#header h1 a.q_log {
	color: #F5F0E2;
}

#header {
	text-align:left;
	position:relative;
}
#logo {
	position: absolute;
	top: -118px;
	z-index: 100;
	cursor: pointer;
}
#header h1 {
	color:#999;
	padding: 0px;
	margin: 0px 0px 10px 200px;
}
#header h1 a {
	text-decoration: none;
}
#quirkey_nav h1 {
	font-size:30px;
	color: #999;
	margin: 5px 0px 5px 200px;
	padding: 0px;	
}
#quirkey_nav h1 a {
	width: 100px;
}
#header h1 span.description {
	font-size: 12px;
	margin-left: 5px;
}
.quirkey_nav_close {
	height: 10px;
}
.quirkey_nav_close a {
	width: 100%;
	border-top: 1px solid #333;
	text-decoration: none;
	color: #FFF;
	text-align:center;
	display:block;
	height: 10px;
	font-size: 11px;
}
.quirkey_nav_close a:hover {
	background:#B1B1B1;
}



#footer {
	width: 100%;
	text-align:center;
	font-size: 11px;
	margin: 20px 0px;
}
#footer p {
	padding: 0px 10px;
}
#footer .quirkey_links {
	font-size: 14px;
	font-family: Georgia, Times, sans-serif;
}
#footer .quirkey_links span {
	padding: 0px 5px;
	color: #999;
}

#main {
	width: 100%;
	height: auto;
	background: #111	;
	overflow: auto;
}
#columns {
/*	white-space: nowrap;*/
	width: auto;
}
.column {
	width: 350px;
	margin: 0px;
	border-top: 1px solid #13171E;
	border-right: 2px solid #839FA1;
	float:left;
	min-height: 500px;
}
.post {
	padding: 10px;
	line-height: 170%;
	border-bottom: 1px solid #839FA1;
}
.post h3 {
	font-size: 16px;
	line-height: 140%;
	padding: 0px;
	margin: 0px;
	color:#B6B6B6;
}
.post .meta_info {
	font-size: 11px;
	color: #9E9E9E;
}

.clear {
	font-size: 1px;
	line-height: 0px;
	clear:both;
}
.column h2 {
	padding: 0px 10px;
	margin: 0px;	
	font-size: 40px;
	height: 30px;
/*	text-shadow: #333 2px 2px 5px;*/
}
.column_twitter {
	background:#0C2A47;
}
.column_twitter h2 {
	background: #91AFB1;
	display:block;
}
.column_twitter h2 a:link, .column_twitter h2 a:visited {
	color: #0C2A47;
}
.column_twitter h2 a:hover {
	color: #141B22;
}
.column_twitter .post_body {
	font-size: 20px;
	font-family: Georgia, Times, serif;
}
.column_rss {
	background:#22455E;
}
.column_rss h2 {
	background: #91AFB1;
	display:block;
}
.column_rss h2 a:link, .column_rss h2 a:visited {
	color: #22455E;
}
.column_rss h2 a:hover {
	color: #141B22;
}
.column_tumblr {
	background: #13323A;
}
.column_tumblr h2 {
	background: #91AFB1;
	display:block;
}
.column_tumblr h2 a:link, .column_tumblr h2 a:visited {
	color: #13323A;
}
.column_tumblr h2 a:hover {
	color: #141B22;
}
.column_last_fm {
	background: #51373D;
}
.column_last_fm h2 {
	background: #91AFB1;
	display:block;
}
.column_last_fm h2 a:link, .column_last_fm h2 a:visited {
	color: #51373D;
}
.column_last_fm h2 a:hover {
	color: #141B22;
}
.column_flickr {
	background: #141B22;
}
.column_flickr h2 {
	background: #91AFB1;
	display:block;
}
.column_flickr h2 a:link, .column_flickr h2 a:visited {
	color: #141B22;
}
.column_flickr h2 a:hover {
	color: #333;
}
.column_flickr img {
	float:left;
	margin: 0px 10px 10px 0px;
}
.home_description {
	width: 200px;	
}

.q_portfolio, a.q_portfolio:link, a.q_portfolio:visited {
	color: #B76C29;
}
.q_log, a.q_log:link, a.q_log:visited {
	color: #22395B;
}
.q_blog, a.q_blog:link, a.q_blog:visited {
	color: #3C6A8F;
}
.q_com, a.q_com:link, a.q_com:visited {
	color: #72391E;
}