<% Columnlog::Column.all.each do |column| %>
  <div id="left" style="float:left;width:250px;padding:3px;margin:5px;">
    <h1><%= column.name.capitalize %></h1>
    <br/>
    <%= column['twitter'].get(10) %>
  </div>	
<% end %>
<p style="clear:both;">