body { font: 75% "Helvetica", arial, Verdana, sans-serif; background: #FFB03B; }
h1 { margin: 0; color: #8E2800; }
h2 { margin-bottom: 0;}
a { color: #468966; }
#page { margin: 1em auto; width: 1024px; border: 0.75em solid #B64926; background: white; padding: 2em; }
.post { border-bottom: 0.4em double #FFB03B; padding-bottom: 1em;}
.post .subtitle { padding-bottom: 1em; font-size: 83.333%; display: block;}
#header, #footer { width: 1024px; margin: 0 auto}
#header h3 { font-size: 220%; margin: 0.5em 0 0 0; font-family: "Georgia";}
#header h3 a { color: #FFF0A5; text-decoration: none; text-transform: uppercase; letter-spacing: 0.3em; text-shadow: #B64926 0.04em 0.04em;}
#flash { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; background-color: #569; color: white; border-bottom: 1px solid #555; }
#flash, #flash * { cursor: pointer; }
#flash .yui-b { padding: 5px 0; }
#flash .yui-b>* { font-size: 128%; }
#flash label { display: block; text-align: right; font-weight: bold; text-transform: capitalize; }
#flash label:after { content: ':'; }
#flash.subtle { background-color: #444; color: white; }
#flash.subtle:hover { background-color: #222; }
#flash.warning { background-color: #ff0; color: black; }
#flash.warning:hover { background-color: #ff8; }
#flash.success { background-color: #595; }
#flash.success:hover { background-color: #7b7; }
#flash.failure, #flash.error { background-color: #800; }
#flash.failure:hover, #flash.error:hover { background-color: #a00; }
#flash.subtle, #flash.success, #flash.failure, #flash.error { text-shadow: black 2px 2px 2px; }

table {
  font-size: inherit;
  font: 100%;
}


/*****************************************************************************/
/*
/* Gist Layout
/*
/*****************************************************************************/

#gist_data {
  margin-top: 1em;  
  float: left;
  width: 70%;
  margin-right: 2%;
  min-width: 40em;
}

#gist_meta {
  float: left;
  width: 28%;
  margin-top: 1em;
}


/*****************************************************************************/
/*
/* File
/*
/*****************************************************************************/

#files {

}

  #files .file {
    border: 1px solid #dedede; /* gray */
    font-family: Monaco, "Courier New", monospace;
    margin-bottom: 1em;
  }

    #files .file .meta {
      overflow: hidden;
      font-size: 90%;
      padding: .5em 1em;
      color: #666;
      background-color: #eaeaea;
      border-bottom: 1px solid #ddd;
    }

    #files .file .private {
      border: 1px solid #f7ca75;
      background-color: #fffeeb;
    }

      #files .file .meta .info {
        float: left;
      }

        #files .file .meta .info span {
          margin-right: 3em;
        }

    #files .file .meta.inline-gravatar {
      background-position: 99% 4px;
      background-repeat: no-repeat;
    }

    #files .file .meta .actions {
      float: right;
      text-align: right;
    }

      #files .file .meta .actions a {
        margin-left: 2em;
      }

      #files .file .meta .language {
        float: right;
        text-align: right;
        font-family: helvetica, arial, clean, sans-serif;
      }

        #files .file .meta .language select {
          font-family: arial, clean, sans-serif;
        }

      #files .file .data {
        font-size: 80%;
        overflow: auto;
        background-color: #f8f8ff;
      }

      #files .file .input textarea {
        font-family: 'Courier', monospace;
        font-size: 90%;
        margin: 1% 1.1% 1% 0.9%;
        width: 98%;
        height: 25em;
      }

      #files .file .input .remove {
        font-size: 80%;
        padding: 5px;
        padding-top: 0;
        text-align: right;
      }

      #files .file .removed { 
        padding: 5px;
        color: #955;
        text-align: center;
      }

    #files .image {
      padding: 1.2em;
      text-align: center;
    }

      #files .file .data pre {
        font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
      }

        #files .file .data .highlight {
          padding: 1em 0;
        }

        #files .file .data .highlight .line {

        }

        #files .file .data .highlight div {
          padding-left: 1em;
        }

        #files .file .data .line_numbers {
          background-color: #ececec;
          color: #aaa;
          padding: 1em .5em;
          border-right: 1px solid #ddd;
          text-align: right;
        }

          #files .file .data .line_numbers span,
          #files .file .data .line_numbers a {
            color: #aaa;
            cursor: pointer;
          }


  #files .bubble {
    background: url(/images/modules/commit/comment_bubble.png) no-repeat;
    color: white;
    height: 1.4em;
    margin: -0.2em 0 0 -9.6em;
    padding: 0.1em 0.8em 0 0; 
    padding-left: 0 !important;
    position: absolute; 
    width: 1.5em;
    cursor: pointer;
  }

  #files .empty {
    background: none;
  }

    #files .bubble span {
      display: block;
      line-height: 1.4em;
      text-align: center;
    }

