/******************************************************
 *	theme(quirkey).css									*
\*****************************************************/

body {
	margin: 0px;
	background: #2D2F3D;
	font-family: Helvetica, Arial, sans-serif;	
	color: #FFF;
	font-size: 14px;
}
a:link, a:visited {
	color:#B6D7F0;
	text-decoration:none;
}
a:hover {
	color:#ECE2E8;
}

#header {
	font-family: Georgia, Times, serif;	
	border-bottom: 10px solid #222833;
}
#header h1 {
	font-weight:normal;
	font-size: 50px;
	margin: -5px 0px 0px 10px;
	height: 45px;
}
#header h1 a {
	color: #F5F0E2;
}
#footer {
	width: 100%;
	text-align:right;
	font-size: 11px;
	margin: 20px 0px;
}
#footer p {
	padding: 0px 10px;
}
#main {
	width: 100%;
	height: auto;
	background: #111	;
	overflow: auto;
}
#columns {
/*	white-space: nowrap;*/
	width: auto;
	margin-left: 200px;
}
.column {
	width: 350px;
	margin: 0px;
/*	margin-bottom: 30000px;*/
	border-top: 1px solid #13171E;
	border-right: 2px solid #666;
	float:left;
	height: 480px;
}
.post {
	padding: 10px;
	line-height: 170%;
	border-bottom: 1px solid #666;
}
.post h3 {
	font-size: 16px;
	line-height: 140%;
	padding: 0px;
	margin: 0px;
	color:#B6B6B6;
}
.post .meta_info {
	font-size: 11px;
	color: #9E9E9E;
}

.clear {
	font-size: 1px;
	line-height: 0px;
	clear:both;
}
.column h2 {
	padding: 0px 10px;
	margin: 0px;	
	font-size: 40px;
	height: 30px;
/*	text-shadow: #333 2px 2px 5px;*/
}
.column_twitter {
	background:#0C2A47;
}
.column_twitter h2 {
	background: #B6D7F0;
	display:block;
}
.column_twitter h2 a:link, .column_twitter h2 a:visited {
	color: #0C2A47;
}
.column_twitter .post_body {
	font-size: 20px;
	font-family: Georgia, Times, serif;
}
.column_rss {
	background:#22455E;
}
.column_rss h2 {
	background: #B6D7F0;
	display:block;
}
.column_rss h2 a:link, .column_rss h2 a:visited {
	color: #22455E;
}
.column_tumblr {
	background: #13323A;
}
.column_tumblr h2 {
	background: #B6D7F0;
	display:block;
}
.column_tumblr h2 a:link, .column_tumblr h2 a:visited {
	color: #13323A;
}
.column_last_fm {
	background: #51373D;
}
.column_last_fm h2 {
	background: #B6D7F0;
	display:block;
}
.column_last_fm h2 a:link, .column_last_fm h2 a:visited {
	color: #51373D;
}
.column_flickr {
	background: #141B22;
}
.column_flickr h2 {
	background: #B6D7F0;
	display:block;
}
.column_flickr h2 a:link, .column_flickr h2 a:visited {
	color: #141B22;
}
.column_flickr img {
	float:left;
	margin: 0px 10px 10px 0px;
}
.home_description {
	width: 200px;	
}
/*
Flash Stuff
*/

#flash { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; background-color: #569; color: white; border-bottom: 1px solid #555; }
#flash, #flash * { cursor: pointer; }
#flash .yui-b { padding: 5px 0; }
#flash .yui-b>* { font-size: 128%; }
#flash label { display: block; text-align: right; font-weight: bold; text-transform: capitalize; }
#flash label:after { content: ':'; }
#flash.subtle { background-color: #444; color: white; }
#flash.subtle:hover { background-color: #222; }
#flash.warning { background-color: #ff0; color: black; }
#flash.warning:hover { background-color: #ff8; }
#flash.success { background-color: #595; }
#flash.success:hover { background-color: #7b7; }
#flash.failure, #flash.error { background-color: #800; }
#flash.failure:hover, #flash.error:hover { background-color: #a00; }
#flash.subtle, #flash.success, #flash.failure, #flash.error { text-shadow: black 2px 2px 2px; }

table {
  font-size: inherit;
  font: 100%;
}


/*****************************************************************************/
/*
/* Gist Layout
/*
/*****************************************************************************/

#gist_data {
  margin-top: 1em;  
  float: left;
  width: 70%;
  margin-right: 2%;
  min-width: 40em;
}

#gist_meta {
  float: left;
  width: 28%;
  margin-top: 1em;
}


/*****************************************************************************/
/*
/* File
/*
/*****************************************************************************/

#files {

}

  #files .file {
    border: 1px solid #dedede; /* gray */
    font-family: Monaco, "Courier New", monospace;
    margin-bottom: 1em;
  }

    #files .file .meta {
      overflow: hidden;
      font-size: 90%;
      padding: .5em 1em;
      color: #666;
      background-color: #eaeaea;
      border-bottom: 1px solid #ddd;
    }

    #files .file .private {
      border: 1px solid #f7ca75;
      background-color: #fffeeb;
    }

      #files .file .meta .info {
        float: left;
      }

        #files .file .meta .info span {
          margin-right: 3em;
        }

    #files .file .meta.inline-gravatar {
      background-position: 99% 4px;
      background-repeat: no-repeat;
    }

    #files .file .meta .actions {
      float: right;
      text-align: right;
    }

      #files .file .meta .actions a {
        margin-left: 2em;
      }

      #files .file .meta .language {
        float: right;
        text-align: right;
        font-family: helvetica, arial, clean, sans-serif;
      }

        #files .file .meta .language select {
          font-family: arial, clean, sans-serif;
        }

      #files .file .data {
        font-size: 80%;
        overflow: auto;
        background-color: #f8f8ff;
      }

      #files .file .input textarea {
        font-family: 'Courier', monospace;
        font-size: 90%;
        margin: 1% 1.1% 1% 0.9%;
        width: 98%;
        height: 25em;
      }

      #files .file .input .remove {
        font-size: 80%;
        padding: 5px;
        padding-top: 0;
        text-align: right;
      }

      #files .file .removed { 
        padding: 5px;
        color: #955;
        text-align: center;
      }

    #files .image {
      padding: 1.2em;
      text-align: center;
    }

      #files .file .data pre {
        font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
      }

        #files .file .data .highlight {
          padding: 1em 0;
        }

        #files .file .data .highlight .line {

        }

        #files .file .data .highlight div {
          padding-left: 1em;
        }

        #files .file .data .line_numbers {
          background-color: #ececec;
          color: #aaa;
          padding: 1em .5em;
          border-right: 1px solid #ddd;
          text-align: right;
        }

          #files .file .data .line_numbers span,
          #files .file .data .line_numbers a {
            color: #aaa;
            cursor: pointer;
          }


  #files .bubble {
    background: url(/images/modules/commit/comment_bubble.png) no-repeat;
    color: white;
    height: 1.4em;
    margin: -0.2em 0 0 -9.6em;
    padding: 0.1em 0.8em 0 0; 
    padding-left: 0 !important;
    position: absolute; 
    width: 1.5em;
    cursor: pointer;
  }

  #files .empty {
    background: none;
  }

    #files .bubble span {
      display: block;
      line-height: 1.4em;
      text-align: center;
    }

